<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/userCalendar.css}" type="text/css">
    <script src="/js/getCsrfToken.js"></script>
    <script type="text/javascript" th:src="@{/js/user.js}"></script>
    <title>ユーザーページ</title>
</head>

<body>
    <header>
        <h1>シフト提出</h1>
        <nav class="pc-nav">
            <ul>
                <li><a href="./admin.html" th:href="@{/admin}">管理者ページ</a></li>
                <li><a href="./index.html" th:href="@{/index}">ホームページ</a></li>
                <li>
                    <form th:action="@{/logout}" method="post">
                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div id="loginuser" th:text="${#authentication.name}"></div>

    <div style="text-align: center">
        <br>次月の希望休日を選択し、提出してください。
        <br>!Attention! シフトの提出は毎月20日まで。
    </div>

    <h2 id="current-month">次月</h2>
    <table class="calendar" id="calendar">
        <thead>
            <tr>
                <th>日</th>
                <th>月</th>
                <th>火</th>
                <th>水</th>
                <th>木</th>
                <th>金</th>
                <th>土</th>
            </tr>
        </thead>
        <tbody id="calendar-body">
            <!-- JavaScriptで生成するカレンダーの日付が入る -->
        </tbody>
    </table>

    <form id="tosubmit" onsubmit="submitShift(event)" action="/submitSuccess" method="post">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <div style="text-align: center">
            <br><button type="submit">提出</button>
        </div>
    </form>

    <!-- シフト表を表示するテーブル -->
    <table id="shift-table">
        <thead>
            <tr id="table-header">
                <!-- JavaScriptでヘッダーが生成される -->
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- JavaScriptで従業員ごとの行が生成される -->
        </tbody>
    </table>

</body>

</html>
